* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  line-height: 2.5rem;
}

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.25rem 0 1.5rem;
}

.divider hr {
  opacity: 1;
  border-radius: 1rem;
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
}

.divider hr:first-child {
  margin-right: 1rem;
}

.divider hr:last-child {
  margin-left: 1rem;
}

.divider i {
  width: 1.125em;
  height: 1em;
  font-size: 2em;
}

.nav-active {
  padding: 8px 0 !important;
}

.nav-active .navbar-brand {
  font-size: 1.25em !important;
}

nav, .bg-light {
  -webkit-transition: padding 250ms linear;
  transition: padding 250ms linear;
  padding: 24px 0;
  background: #2c3e50 !important;
}

nav .navbar-brand, .bg-light .navbar-brand {
  font-size: 1.75em;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
  font-weight: bold;
}

nav ul li a, .bg-light ul li a {
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear;
  opacity: 1 !important;
  border-radius: 0.5rem;
  padding: 16px;
  background: transparent;
  color: #ffffff !important;
  font-weight: bold;
}

nav ul li a:hover, .bg-light ul li a:hover {
  color: #1abc9c !important;
}

nav ul li .active, nav ul li .active:hover, .bg-light ul li .active, .bg-light ul li .active:hover {
  color: #ffffff !important;
  background: #1abc9c;
}

nav .navbar-toggler, .bg-light .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
  border-radius: 0.5rem !important;
  line-height: 1;
  background: #1abc9c;
  color: #ffffff;
}

nav .navbar-toggler i, .bg-light .navbar-toggler i {
  width: .875em;
  height: 1em;
}

header {
  padding-top: calc(6rem + 104px);
  padding-bottom: 6rem;
  background: #1abc9c;
  color: #ffffff;
}

header img {
  width: 15rem;
}

header h1 {
  font-size: 4rem;
  line-height: 3.5rem;
}

header p {
  font-size: 1.5rem;
}

header .divider hr {
  background-color: #fff;
}

section {
  text-align: center;
  padding: 6rem 0;
}

#portfolio .row > div {
  position: relative;
  cursor: pointer;
  max-width: 25rem;
}

#portfolio .row > div img {
  padding: 0 !important;
  border-radius: 0.5rem;
}

#portfolio .row > div div, #portfolio .row > div i {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 100ms linear, opacity 100ms linear;
  transition: visibility 100ms linear, opacity 100ms linear;
}

#portfolio .row > div div {
  top: 0;
  right: calc(1.5rem * .5);
  bottom: 0;
  left: calc(1.5rem * .5);
  border-radius: 0.5rem;
  background: #1abc9c;
}

#portfolio .row > div i {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3em;
  color: #ffffff;
}

#portfolio .row > div:hover div, #portfolio .row > div:hover i {
  visibility: visible;
  opacity: 0.9;
}

#portfolio .row > div:hover i {
  opacity: 1;
}

#about {
  background-color: #1abc9c;
  color: #ffffff;
}

#about .container div {
  padding: 0 12px;
}

#about .container div p {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 300;
}

#about a {
  border-width: 2px;
  border-radius: 0.5rem !important;
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

#about a i {
  width: 1em;
  height: 1em;
}

#contact form {
  text-align: left;
}

#contact form .form-floating {
  margin: 1.5rem 0;
}

#contact form .form-floating .form-control {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  border-width: 1px;
  font-size: 1.5rem 0;
}

#contact form .form-floating label {
  top: -15px;
  font-size: 1.5rem;
  color: #6c757d;
}

#contact form .submit {
  border: #1abc9c;
  padding: 1rem 1.75rem;
  background: #1abc9c;
  font-size: 1.25rem;
}

footer {
  padding: 5rem 0;
  background: #2c3e50;
  text-align: center;
  color: #ffffff;
}

footer p {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 300;
}

footer p a, footer p a:visited {
  color: #1abc9c;
}

footer div a {
  position: relative;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
}

footer div a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.25em;
}

.copyright {
  background: #1a252f;
}

.modal {
  text-align: center;
}

.modal .modal-header {
  border: none;
}

.modal .modal-header button {
  font-size: 2rem;
  padding: 1rem;
}

.modal .modal-body h2 {
  font-size: 3rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.modal .modal-body button {
  background: #1abc9c;
  border-color: #1abc9c;
}

.gotop {
  position: fixed;
  right: 5%;
  bottom: 100px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 250ms linear, opacity 250ms linear;
  transition: visibility 250ms linear, opacity 250ms linear;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: #1a252f;
  color: #ffffff;
}

.gotop i {
  margin: 15px 0 0 25px;
  font-size: 48px;
}

.gotop-active {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  nav, .bg-light {
    padding: 16px 0 !important;
  }
  nav .navbar-brand, .bg-light .navbar-brand {
    font-size: 1.25em !important;
  }
  nav ul li .active, nav ul li .active:hover, .bg-light ul li .active, .bg-light ul li .active:hover {
    color: #1abc9c !important;
    background: transparent;
  }
  header h1 {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  header p {
    font-size: 1.25rem;
  }
  footer h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .gotop {
    bottom: 5%;
    width: 60px;
    height: 60px;
    background: #1a252f;
    color: #ffffff;
  }
  .gotop i {
    margin: 12.5px 0 0 18.75px;
    font-size: 36px;
  }
}
/*# sourceMappingURL=style.css.map */